menuconfig FB_ROCKCHIP
        tristate "Frame buffer support for Rockchip "
        depends on FB
        select FB_CFB_FILLRECT
        select FB_CFB_COPYAREA
        select FB_CFB_IMAGEBLIT
        ---help---
          Framebuffer driver for rockchip based platform

config EDID_BASICTOSVD_GEN2THOMAS_FIX
	bool     "EDID fix by gen2thomas to make all resolutions available"
  help
   This fix ensure that all resolutions from basic EDID block of your display 
   are also available for your device. In case the extended EDID block of your 
   display has some SVD's (short video descriptor) the basic EDID block 
   informations will be lost without this fix.
   
   Background: Some monitors EDID (f.e. acer P225HQL) have no duplicated entry in basic and
   extended block. F.e. the 1920x1080p resolution is only described in the basic EDID block 
   and some other resolutions are available as SVD of the extended EDID block.
   Therefore the 1920x1080p resolution (or possible others) will be lost although the monitor
   would support it.
   
config EDID_FINDBESTMODE_GEN2THOMAS_FIX
	bool     "EDID fix by gen2thomas to find best mode also for not sorted lists"
  help
   This patch get the best mode from the given list also in the case that the list is not sorted 
   correctly and also for the case that the highest resolution not match the given ratio of the
   screen. In that case the best resolution for the matching ratio to the screen is used. Also 
   for two equivalent resolutions the mode with the higher frequency is found and used. 
   
   Background: The original method only differentiate between two cases. But the real world know
   nine cases (three for x, three for y and the combinations). The patched algorithm know and match 
   all nine cases. 

config BASIC_EDID_DEBUG
	bool "EDID debug output of basic block"
	default n
	help
	  Say Y here if you want the EDID driver to output all sorts
	  of debugging information to provide to the maintainer when
	  something goes wrong.
	  
	  Set this to Y in case you need more informations about parsing the 
	  basic EDID block (first 128 bytes). Also some informations of the
	  not already completed implementation of (extended) E-EDID block 
	  could be displayed.

config HDMI_EDID_DEBUG
	bool "HDMI EDID debug output"
	default n
	help
	  Say Y here if you want the HDMI-EDID driver part to output all sorts
	  of debugging information to provide to the maintainer when
	  something goes wrong.
	  
	  Set this to Y in case you need more informations about the 
	  (extended) E-EDID block parsing. Also the binary content of the basic buffer
	  will be shown.
	  
config HDMI_LCDC_EDID_DEBUG
	bool "HDMI LCDC EDID debug output"
	default n
	help
	  Say Y here if you want the HDMI-LCDC-EDID driver part to output all sorts
	  of debugging information to provide to the maintainer when
	  something goes wrong.
	  
	  Set this to Y will cause more informations about the using of
	  parsed EDID for your device. "Show Sink Info" is part of this output. 

config FB_MIRRORING
	bool     "Mirroring support"
	depends on FB_ROCKCHIP
choice
        bool "Dual display ploy select"
	depends on FB_ROCKCHIP
	default NO_DUAL_DISP
        help
	  If you use dual lcdc for dual display ,select "implement dual display in kernel with dual lcdc"
	  If you use one lcdc like rk2928 or one lcdc with RK Jetta,select "one lcdc dual output display interface support"
	
config DUAL_LCDC_DUAL_DISP_IN_KERNEL
        bool "implement dual display in kernel with dual lcdc"
        depends on FB_ROCKCHIP
        help
          select y will implement dual screen display in kernel

config ONE_LCDC_DUAL_OUTPUT_INF
        bool "one lcdc dual output display interface support"
        depends on FB_ROCKCHIP
        help
          select y if on platform like rk2928 which have one lcdc but two output interface
config NO_DUAL_DISP
	bool "NO dual display needed"
	depends on FB_ROCKCHIP
	help
	  No dual display needed
endchoice

config FB_ROTATE
	bool"FB rotate support"
	depends on FB_ROCKCHIP
	default n
	help
	  select y if you need rotate your screen

config ROTATE_ORIENTATION
	int "rotate orientation"
	depends on FB_ROTATE
	default 0
	help
	  select 0, 90, 180,270 according to your Mold
config THREE_FB_BUFFER
        bool "Three fb buffer support"
        depends on FB_ROCKCHIP
        default y
        help
           select y if android support three buffer,like Jelly Bean


source "drivers/video/rockchip/lcdc/Kconfig"
source "drivers/video/rockchip/hdmi/Kconfig"
source "drivers/video/rockchip/rga/Kconfig"
source "drivers/video/rockchip/lvds/Kconfig"
source "drivers/video/rockchip/tvencoder/Kconfig"
